defaults: &defaults
  adapter: postgresql
  encoding: unicode
  pool: 5
  schema_search_path: "public,shared_extensions"

development:
  <<: *defaults
  database: browet_development


test:
  <<: *defaults
  database: browet_test  

production:
  <<: *defaults
  database: browet_production