development:
  adapter: postgresql
  encoding: unicode
  database: browet_development
  pool: 5

test:
  adapter: postgresql
  encoding: unicode
  database: browet_test
  pool: 5

production:
  adapter: postgresql
  encoding: unicode
  database: browet_production
  pool: 5
  username:
  password: