<table>
  {{#each model as |product|}}
    <tr>
      <td>{{product.title}}</td>
    </tr>
  {{/each}}
</table>

{{page-numbers content=model}}

{{#link-to 'products.new'}}
  <a>{{t 'products.new'}}</a>
{{/link-to}}