//Groups list, category drop
.bro.groups{

  .group-node {
    background-color: none;
    color: #000;
    margin-bottom: 1px;
    min-height: 36px;
  }

  .category-node{
    background: #EBEBEB;
    font-size: 12px;
    color: #242627;
    letter-spacing: 0.5px;
    font-size: 12px;
    color: #242627;
    padding: 8px 16px;
    margin-bottom: 1px;
    min-height: 36px;
  }

  ol[type='group']{
    background: #F7F7F7;
    padding: 18px 26px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.11);
  }


  .btn {
    margin-right: 8px;
    color: #000;
    font-size: 11px;
  }

}

.bro.categories_menu, .angular-ui-tree-drag{

  a {
    font-size: 18px;
    color: #838383;
    margin-left: 8px;
    &:hover {
      color: #3498D1;
    }
  }

  a .fa-times {
    font-size: 20px;
    margin-left: -4px;
  }

  .active a {
    color: #fff;
    &:hover {
      color: #b3b3b3;
    }
  }

  a.new_group {
    cursor: pointer;
  }

  .category-node{
    cursor:pointer;
    padding:0px;
    div{
      padding: 4px 10px;
      background: #F7F7F7;
      margin-bottom:2px;
      font-weight: 300;
      font-size: 11px;
      color: #838383;
      min-height: 20px;
      &.active{
        background-color: #3498D1;
        color: #fff;
      }
    }
  }

  .group-node{
    cursor:pointer;
    padding:0px;
    div{
      padding: 4px 10px;
      background: #fff;
      margin-bottom:2px;
      font-weight: 300;
      font-size: 11px;
      color: #838383;
      &.active{
        background-color: #3498D1;
        color: #fff;
      }
    }
  }


}


/* Angular-ui-tree css */
.angular-ui-tree-empty{
  border:1px dashed #bbb;
  min-height:100px;
  background-color:#e5e5e5;
  background-image:-webkit-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),-webkit-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
  background-image:-moz-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),-moz-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
  background-image:linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
  background-size:60px 60px;
  background-position:0 0,30px 30px
}
.angular-ui-tree-nodes{
  display:block;
  position:relative;
  margin:0;
  padding:0;
  list-style:none
}

.angular-ui-tree-nodes .angular-ui-tree-nodes{
  padding-left:10px
}

.angular-ui-tree-node,.angular-ui-tree-placeholder{
  display:block;
  position:relative;
  margin:0;
  padding:0;
  min-height:20px;
  line-height:20px;
}
.angular-ui-tree-hidden{
  display:none;
}
.angular-ui-tree-placeholder{
  margin:0px 0;
  margin-bottom:2px;
  padding:0;
  min-height:0px;
}

.angular-ui-tree-handle{
  cursor:move;
  text-decoration:none;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  min-height:20px;
  line-height:20px
}

.angular-ui-tree-drag{
  position:absolute;
  pointer-events:none;
  z-index:999;
  opacity:.8;
}
